body {
  text-align: center;
  background-image: url("");
  }
  
  img {
    width: 150px;
    height: 150px;
  }
  
  .card {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px black;
    width: calc(100%/4);
    float: left;
  }
  
  .clear{
    clear: both;
  }
  
  
  @media (max-width:900px){
  .card {
    padding: 3px;
  }
  }